<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title> Albums </title>
  <link rel="stylesheet" th:href="@{/homeCss.css}"/>
</head>
<body>
<h1> Welcome to Albums page </h1>
<h1>Album Page</h1>

<ul th:each="album:${albums}">
  <li  th:text="${album.title}"></li>
  <li th:text="${album.artist}"></li>
  <li th:text="${album.songCount}"></li>
  <li th:text="${album.length}"></li>
   <img th:src="${album.imageUrl}"  th:alt="${album.title}"/>
</ul>
</body>
</html>
